#chat {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70%;
    max-width: 850px;
    background-color: var(--theme-color3);
    overflow: hidden;
    border-radius: 8px;
}

#chat #topSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 18px;
}

#chat #topSection h4 {
    font-size: 17px;
    letter-spacing: 1.1px;
    font-weight: bold;
}

#chat #topSection #openCloseChatButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: transparent;
    color: var(--chat-open-close-button);
    font-weight: bold;
    right: 18px;
    height: 35px;
    aspect-ratio: 1 / 1;
    border-radius: 100px;
    transform: rotate(-90deg);
    transition:
        background-color 200ms,
        color 200ms,
        transform 300ms;
}

#chat #topSection #openCloseChatButton:hover {
    background-color: var(--theme-color3);
    color: var(--text-color);
}

#chat #topSection #openCloseChatButton.rotate {
    transform: rotate(90deg);
}

#chat #messageContainer.chatClosed {
    height: 0px;
}

#chat #messageContainer ul {
    list-style: none;
    padding: 0px 15px;
    height: 400px;
    max-height: 400px;
    overflow: auto;
}

#chat #messageContainer ul::-webkit-scrollbar {
    width: 8px;
}

#chat #messageContainer ul::-webkit-scrollbar-thumb {
    background-color: var(--theme-color2);
    border-radius: 100px;
    transition: background-color 200ms; /*Why are you not working????????*/
}

#chat #messageContainer ul::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-color);
}

#chat #messageContainer ul li {
    padding: 6px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#chat #messageContainer ul li .time,
#chat #messageContainer ul li .tag {
    font-size: 15px;
}

#chat #messageContainer ul li .player,
#chat #messageContainer ul li .notice,
#chat #messageContainer ul li .timer {
    font-weight: bold;
    font-size: 18px;
}

#chat #messageContainer ul li .time { color: var(--chat-message-time) }
#chat #messageContainer ul li .bracket { color: gray }
#chat #messageContainer ul li .notice { color: rgb(100, 100, 255) }
#chat #messageContainer ul li .timer { color: rgb(110, 255, 110) }

#chat #chatBox {
    background-color: var(--theme-color);
    width: 100%;
}
