@import url(playerList.css);
@import url(chat.css);
@import url(timer.css);
@import url(menus.css);

html[data-theme="dark"] {
    --theme-color: rgb(55, 55, 55);
    --theme-color2: rgb(45, 45, 45);
    --theme-color3: rgba(45, 45, 45, 0.8);

    --text-color: white;
    --keyboard-keys: rgb(75, 75, 75);

    --chat-open-close-button: rgb(200, 200, 200);
    --chat-message-time: rgb(130, 130, 130);

    --column-names-color: rgb(70, 70, 70);
    --player-list-text: rgb(200, 200, 200);

    --timer-sections: rgb(40, 40, 40);
    --speed-bar: rgb(25, 25, 25);

    --labels: rgb(200, 200, 200);
}

html[data-theme="light"] {
    --theme-color: rgb(220, 220, 220);
    --theme-color2: rgb(240, 240, 240);
    --theme-color3: rgba(240, 240, 240, 0.8);

    --text-color: black;
    --keyboard-keys: rgb(185, 185, 185);

    --chat-open-close-button: rgb(70, 70, 70);
    --chat-message-time: rgb(50, 50, 50);

    --column-names-color: rgb(215, 215, 215);
    --player-list-text: rgb(30, 30, 30);

    --timer-sections: rgb(175, 175, 175);
    --speed-bar: rgb(115, 115, 115);

    --labels: rgb(70, 70, 70);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    background-color: rgb(90, 52, 52);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

button {
    border: none;
    cursor: pointer;
}

input[type="text"] {
    background-color: var(--theme-color2);
    color: var(--text-color);
    padding: 13px 18px;
    font-size: 18px;
    border: none;
}

input[type="text"]::placeholder {
    font-weight: bold;
    font-size: 15px;
    opacity: 0.45;
    transition: opacity 200ms;
}

input[type="text"]:focus::placeholder {
    opacity: 1;
}

input[type="text"]:focus {
    outline: none;
}

.keyboard-key {
    background-color: var(--keyboard-keys);
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
}

.transparent-blur {
    background-color: var(--theme-color3);
    backdrop-filter: blur(10px);
}

#bottomSection {
    position: absolute;
    display: flex;
    align-items: flex-end;  
    gap: 30px;
    left: 33px;
    bottom: 33px;
}

#bottomSection .buttons-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#bottomSection .buttons-div button {
    background-color: var(--theme-color);
    color: var(--text-color);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 17px 23px;
    border-radius: 15px;
    transition: background-color 0.2s;
}

#bottomSection .buttons-div button:hover {
    background-color: var(--theme-color2);
}
