@import url(playerList.css);
@import url(chat.css);
@import url(timer.css);
@import url(menus.css);

:root {
    --dark: rgb(55, 55, 55);
    --dark2: rgb(45, 45, 45);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    background-color: rgb(90, 52, 52);
    color: white;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

#bottomSection {
    position: absolute;
    display: flex;
    align-items: flex-end;  
    gap: 30px;
    left: 33px;
    bottom: 33px;
}

#bottomSection .buttons-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#bottomSection .buttons-div button {
    background-color: var(--dark);
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 20px 25px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#bottomSection .buttons-div button:hover {
    background-color: var(--dark2);
}

#bottomSection .buttons-div button span {
    background-color: rgb(75, 75, 75);
    padding: 10px;
    border-radius: 5px;
    pointer-events: none;
}
