[data-menu] {
    transform: translateY(100%);
}

.menu-open {
    transform: translateY(0%);
}

.menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: transform 0.75s;
}

.menu-container {
    width: 500px;
    pointer-events: all;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
}

.menu .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    background-color: var(--theme-color2);
}

.menu .top-bar .menu-heading {
    width: 100%;
    font-size: 22px;
    letter-spacing: 1.1px;
}

.menu .top-bar button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--text-color);
    font-size: 18px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color 0.2s;
}

.menu .top-bar button:hover {
    background-color: var(--theme-color);
}

.menu ul {
    list-style: none;
}

.menu ul li {
    background-color: transparent;
    padding: 13px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 450;
    letter-spacing: 0.6px;
    transition: background-color 0.2s;
}

.menu ul li:hover {
    background-color: var(--theme-color2);
}

.menu .item-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    letter-spacing: 1.1px;
    margin: 40px 0px;
    font-weight: bold;
}

.menu .item-div label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--labels);
}

.menu .item-div label input {
    width: 100%;
}

.menu .item-div label input[type="text"],
.menu .item-div label input[type="color"] {
    border-radius: 8px;
}

.menu .item-div label input[type="color"],
.menu .item-div label input[type="color"]::-webkit-color-swatch {
    border: none;
}

.menu .item-div label input[type="color"] {
    height: 18px;
    cursor: pointer;
}
  
.menu .item-div label input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0px;   
}

.menu .item-div label input[type="color"]::-webkit-color-swatch {
    border-radius: 8px;
}

.menu button {
    background-color: var(--theme-color2);
    color: var(--text-color);
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.1px;
    border-radius: 8px;
    margin: 10px 0px;
}
