#playerList {
    position: absolute;
    background-color: var(--theme-color3);
    top: 20px;
    right: 20px;
    width: 825px;
    text-align: center;
    border-radius: 8px;
    border-spacing: 0px;
    overflow: hidden;
}

#playerList .player-list-heading {
    background-color: var(--theme-color2);
    font-size: 28px;
    font-weight: bold;
}

#playerList .player-list-heading th {
    padding: 10px 0px;
}

#playerList .column-names {
    background-color: var(--column-names-color);
}

#playerList .column-names th {
    padding: 5px 0px;
}

#playerList .player {
    position: relative;
    color: var(--player-list-text);
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 200ms;
}

#playerList .player:hover {
    background-color: var(--theme-color2);
}

#playerList .player::before {
    content: "";
    position: absolute;
    background-color: var(--moderationStatus, rgb(100, 100, 100));
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 15px;
    border-radius: 50px;
}

#playerList .player td {
    padding: 10px 0px;
}

#playerList .player.whitelisted { --moderationStatus: white }
#playerList .player.blacklisted { --moderationStatus: black }
#playerList .player.moderator { --moderationStatus: purple }
#playerList .player.pending { --moderationStatus: gold }
#playerList .player.bot::before {
    content: "B";
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 13.5px;
    padding: 11px;
    left: 27px;
}
