#playerList {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 350px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    background-color: var(--dark3);
}

#playerList ul {
    list-style: none;
}

#playerList .player-list-heading {
    background-color: var(--dark2);
    padding: 15px 0px;
    font-size: 30px;
    font-weight: bold;
}

#playerList .player {
    position: relative;
    color: rgb(220, 220, 220);
    font-size: 25px;
    letter-spacing: 1.15px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 40px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#playerList .player:hover {
    background-color: var(--dark2);
}

#playerList .player::before {
    content: "";
    position: absolute;
    background-color: var(--moderationStatus, rgb(100, 100, 100));
    width: 5px;
    height: 15px;
    border-radius: 50px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

#playerList .player.whitelisted { --moderationStatus: white }
#playerList .player.blacklisted { --moderationStatus: black }
#playerList .player.moderator { --moderationStatus: purple }
#playerList .player.pending { --moderationStatus: gold }
#playerList .player.bot::before {
    content: "B";
    position: absolute;
    background-color: var(--moderationStatus, rgb(100, 100, 100));
    width: 15px;
    aspect-ratio: 1 / 1;
    font-size: 12px;
    border-radius: 50px;
    padding: 3px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}
