.showkeys {
    --key-gap: 10px;

    position: absolute;
    right: 20px;
    bottom: 20px;
    display: none;
    align-items: center;
    gap: 25px;
}

.showkeys.active {
    display: flex;
}

.showkeys .showkeys-keys {
    display: grid;
    gap: var(--key-gap);
    grid-template-areas: 
        "... w ..."
        "a s d"
        "jump jump jump";
}

.showkeys .showkeys-mouse-directions {
    display: flex;
    gap: var(--key-gap);
    height: 75px;
}

.showkeys .key {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-color);
    font-size: 23px;
    padding: 16px;
    border-radius: 6px;
}

.showkeys .key.pressed {
    background-color: rgb(0, 230, 0);
}

.showkeys [data-key="w"] { grid-area: w }
.showkeys [data-key="a"] { grid-area: a }
.showkeys [data-key="s"] { grid-area: s }
.showkeys [data-key="d"] { grid-area: d }
.showkeys .jump-key { grid-area: jump }
