#timer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 275px;
    background-color: var(--dark);
    letter-spacing: 1px;
    font-weight: 450;
}

#timer > div {
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    text-align: center;
    padding: 8px 15px;
    margin: 3px;
    font-size: 18px;
}

#timer > div:not(:first-child, :last-child) {
    text-align: left;
}

#timer #time {
    position: relative;
    font-size: 22px;
    isolation: isolate;
    overflow: hidden;
}

#timer #progressBar {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 0%;
    border-radius: 10px;
    z-index: -1;
    background-color: rgb(0, 200, 0);
    transition: 
        width var(--personalBestMS) linear,
        background-color 125ms;
}

#timer #speed {
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

#timer #speed::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 75%;
    border-radius: 10px;
    background-color: rgb(25, 25, 25);
    z-index: -1;
}
