.run-timer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 275px;
    background-color: var(--theme-color);
    letter-spacing: 1px;
    font-weight: 450;
    border-radius: 8px;
}

.run-timer > div {
    background-color: var(--timer-sections);
    border-radius: 10px;
    text-align: center;
    padding: 8px 15px;
    margin: 3px;
    font-size: 18px;
}

.run-timer .name {
    position: relative;
}

.run-timer .name .bot {
    position: absolute;
    visibility: hidden;
}

.run-timer .time {
    position: relative;
    text-align: left;
    font-size: 22px;
    isolation: isolate;
    overflow: hidden;
}

.run-timer .progress-bar {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 0%;
    border-radius: 10px;
    z-index: -1;
    background-color: rgb(0, 200, 0);
    transition: background-color 125ms;
}

.run-timer .speed {
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.run-timer .speed-bar {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    bottom: 0px;
    border-radius: 10px;
    background-color: var(--speed-bar);
    z-index: -1;
}

#spectateTimer {
    display: none;
}
